body {
	text-align: center;
	font-family: cursive;

}

div.bboogle {
	font-weight: bold;
	font-size: 2rem;
}

h1 {
	color: white;
	font-family: fantasy;
	text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}
